<div class=background>
  <div class="container">
    <br/>
    <br/>
    <div class="row" style="text-align:center;justify-content:center">
        <p style="text-align:center;font-size:60px"> Contact </p>
    </div>
    <br/>
    <br/>
    <br/>
    <br/><h1 style="text-align:center;font-size:40px"> Telephones </h1>
    <br/>
    <hr style="width:100%;text-align:left;margin-left:0;border-color: blue;">
    <br/>
    <div class="row" style="text-align:center;justify-content:center">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" style=" justify-content:center">
            <table style="text-align:left">
                <tr>
                    <p style="font-size:30px"> <b> Chief of Student's department </b> </p>
                </tr>
                    <p style="font-size:30px"> Dragana Trenevski Videnov </p>
                <tr>
                    <p style="font-size:25px"> (011) 3226-760 </p>
                </tr>
                <tr>
                    <p style="font-size:25px"> stud_sluzba@etf.bg.ac.rs </p>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <br/>
    <hr style="width:100%;text-align:left;margin-left:0;border-color: blue;">
    <br/>
    <div class="row" style="text-align:center;justify-content:center">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" style=" justify-content:center">
            <table style="text-align:left">
                <tr>
                    <p style="font-size:30px"> <b> Exam schedule </b> </p>
                </tr>
                    <p style="font-size:30px"> Milanka Djordjevic </p>
                <tr>
                    <p style="font-size:25px"> (011) 3218-492 </p>
                </tr>
                <tr>
                    <p style="font-size:25px"> milanka@etf.bg.ac.rs </p>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <br/>
    <hr style="width:100%;text-align:left;margin-left:0;border-color: blue;">
    <br/>
    <div class="row" style="text-align:center;justify-content:center">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" style=" justify-content:center">
            <table style="text-align:left">
                <tr>
                    <p style="font-size:30px"> <b> Bachelors </b> </p>
                </tr>
                    <p style="font-size:30px"> Suncica Andjelkovic </p>
                <tr>
                    <p style="font-size:25px"> (011) 3218-417 </p>
                </tr>
                <tr>
                    <p style="font-size:25px"> suncica@etf.bg.ac.rs </p>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <br/>
    <hr style="width:100%;text-align:left;margin-left:0;border-color: blue;">
    <br/>
    <div class="row" style="text-align:center;justify-content:center">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" style=" justify-content:center">
            <table style="text-align:left">
                <tr>
                    <p style="font-size:30px"> <b> Masters </b> </p>
                </tr>
                    <p style="font-size:30px"> Desanka Stepic </p>
                <tr>
                    <p style="font-size:25px"> (011) 3218-419 </p>
                </tr>
                <tr>
                    <p style="font-size:25px"> desanka@etf.bg.ac.rs </p>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <br/>
    <hr style="width:100%;text-align:left;margin-left:0;border-color: blue;">
    <br/>
    <br/>
    <br/>
    <div class="row" style="text-align:center;justify-content:center">
        <h1 style="text-align:center;font-size:40px"> Location </h1>

    </div>
    <br/>
    <div class="row" style="text-align:center;justify-content:center">
        <p  style="text-align:center;font-size:30px"> Bulevar kralja Aleksandra 73, Belgrade, Serbia</p>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=bulevar kralja aleksandra 73&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.embedmymap.com/">Embed My Map</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:400px;}.gmap_iframe {height:400px!important;}</style></div>
    </div>
    <br/>
    <br/>
    <br/>
  </div>
</div>
