<div class=background>
  <div class="container">
    <br/>
    <br/>
    <div class="row" style="text-align:center;justify-content:center">
        <p style="text-align:center;font-size:60px"> Science </p>
    </div>
    <br/>
    <br/>
    <br/>
    <br/><h1 style="text-align:center;font-size:40px"> Projects </h1>
    <br/>
    <hr style="width:100%;text-align:left;margin-left:0;border-color: blue;">
    <br/>
    <div class="row" style="text-align:left;justify-content:center">
        <p style="font-size: 30px;"> Development of network and service reporting system softver platforms</p>
        <br/>
        <br/>
        <p style="font-size: 20px;">
          Project type Commercial projects with public companies</p>
          <p style="font-size: 20px;">
          Head prof.: Dr. Aleksandar Nešković</p>
          <p style="font-size: 20px;">
          Financier of: "TELEKOM SRBIJA" AD</p>
          <p style="font-size: 20px;">
          Start of realization: 12/15/2020</p>

    </div>
    <br/>
    <hr style="width:100%;text-align:left;margin-left:0;border-color: blue;">
    <br/>
    <div class="row" style="text-align:left;justify-content:center">
      <p style="font-size: 30px;"> Consultations for Huawei</p>
      <br/>
      <br/>
      <p style="font-size: 20px;">
        Project type: Other international commercial projects</p>
        <p style="font-size: 20px;">
        Head prof.: Dr. Slobodan Vukosavic</p>
        <p style="font-size: 20px;">
          Financier: GLOBAL INFORMATION INC</p>
        <p style="font-size: 20px;">
        Start of realization: 11/26/2020</p>

  </div>
    <br/>
    <hr style="width:100%;text-align:left;margin-left:0;border-color: blue;">
    <br/>

    <br/>
    <br/>
    <br/>
    <div class="row" style="text-align:center;justify-content:center">
        <h1 style="text-align:center;font-size:40px"> Researches </h1>
    </div>
    <br/>
    <hr style="width:100%;text-align:left;margin-left:0;border-color: blue;">
    <br/>
    <div class="row" style="text-align:left;justify-content:center">
        <p style="font-size: 30px;">Novel oil pipeline leakage detection system</p>
        <br/>
        <br/>
        <p style="font-size: 20px;">
          Project type: Innovation Fund - Cooperation between science and economy</p>
          <p style="font-size: 20px;">
          Head prof.: Dr. Milan Prokin</p>
          <p style="font-size: 20px;">
          Financier : FASEK ENGINEERING AND PRODUCTION DOO Novi Sad</p>
          <p style="font-size: 20px;">
          Start of realization: 03.08.2020.</p>

    </div>
    <br/>
    <hr style="width:100%;text-align:left;margin-left:0;border-color: blue;">
    <br/>
    <div class="row" style="text-align:left;justify-content:center">
      <p style="font-size: 30px;"> Consultations for Huawei</p>
      <br/>
      <br/>
      <p style="font-size: 20px;">
        Project type: Other international commercial projects</p>
        <p style="font-size: 20px;">
        Head prof.: Dr. Slobodan Vukosavic</p>
        <p style="font-size: 20px;">
          Financier: GLOBAL INFORMATION INC</p>
        <p style="font-size: 20px;">
        Start of realization: 11/26/2020</p>

  </div>


    <br/>
    <br/>
    <br/>
  </div>
</div>

