<div class=background>
  <br/>
  <br/>
  <br/>
  <div class="container">
    <p style="text-align: center;font-size: 30px;">Change your password</p>
    <br/>
    <br/>
    <div class="row" style="justify-content: center;">
        <div class = "col-md-3">

        </div>
        <div class = "col-md-6">
        <form class="clr-form" [formGroup]="loginForm">
          <table style="width: 100%;font-size: 20px;" class="table table-dark">
            <tr>
              <td>Old Password:</td>
              <td><input style="width: 100%;" type="password" class="userInput" name="loginForm.oldpassword" placeholder="Type the old password"
                formControlName="oldpassword" autofocus="autofocus" required /></td>
            </tr>
            <tr>
              <td>New Password:</td>
              <td><input style="width: 100%;" type="password" class="userInput" name="loginForm.newpassword" placeholder="Type the new password"
                formControlName="newpassword" autofocus="autofocus" required /></td>
            </tr>
            <tr>
              <td>Retype New Password:</td>
              <td><input style="width: 100%;" type="password" class="userInput" name="loginForm.newpasswordRetyped" placeholder="Retype the new password"
                formControlName="newpasswordRetyped" required /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit" class="btn btn-block btn-md btn-primary button" (click)="setNewPassword()">
                Set your new password
            </button> </td>
            </tr>
            <tr *ngIf="showErrorMessage">
              <td colspan="2"><div *ngIf="showErrorMessage" class="error active">
                Invalid username or password
              </div></td>
            </tr>
          </table>
        </form>
        </div>
        <div class = "col-md-3">

        </div>
    </div>

  </div>
  </div>




